{% extends "templates/panel.twig" %}{% block content %}
	<div class="row">
	<div class="col-lg-12">
		<div class="box">
			
			<!-- Box Header --> 
			<div class="box-header with-border">
				
				<div class="row">
					
					<!-- Title & Tools -->
					<h1 class="box-title col-sm-10">Change Password<br>
					<small>To change other account information, Please contract an administrator.</small></h1>
						
				</div>
				
			</div>
			
			<div class="box-body">
				
				{% include 'templates/form_builder/form_builder.twig' with formResetPassword %}

			</div>
					
		</div>
	</div>
</div>
	
{% endblock %}
